<div class="right" align="center">
<p>
  <h5 class="text-secondary"> <%= @workshop.name.upcase %> </h5>
</p>
<br>
<br>
<p>
  <%= image_tag(@workshop.workshop_cover.url, alt:'Image') if @workshop.workshop_cover? %>
</p>
<p class="text-secondary">
  MIEJSCE: <%= @workshop.place.upcase %>
</p>
<br />
<br />
<p class="text-secondary">
  OD <%= @workshop.date_start.strftime("%d-%m-%Y") %>
  DO <%= @workshop.date_end.strftime("%d-%m-%Y") %>
</p>
<br />
<br />
<p class="text-secondary">
  GODZINY:
</p>
<p class="text-secondary">
  od <%= @workshop.time_start.to_s(:time) %>
  do <%= @workshop.end_time.to_s(:time) %>
</p>
<br />
<br />

<p class="text-secondary">OPIS:</p>
<p class="text-secondary small" style="padding-left: 150px; padding-right: 150px;">
  <%= @workshop.description %>
</p>
<br />
<br />
<div>
  <p class="text-secondary small">
    <%= link_to 'WRÓĆ DO WSZYSTKICH WARSZTATÓW', workshops_path, class: 'text-secondary' %>
    <% if current_user&.admin? %>
    | <%= link_to 'Edytuj', edit_workshop_path(@workshop), class:'text-secondary'%>
    | <%= link_to 'Usuń', workshop_path(@workshop), method: :delete, data: { confirm: 'Are you sure?'}, class:'text-secondary' %>
    <% end %>
  </p>
</div>
</div>

<div class="left">
  <div class="col-sm-11">
    <%= render "latest" %>
  </div>
</div>
