<div align="center">
<h2 class="text-secondary small">Edycja <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field text-secondary small">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="text-secondary small">Oczekiwanie na potwierdzenie dla email: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field text-secondary small">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "nowe hasło" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> znaków minimum</em>
    <% end %>
  </div>

  <div class="field text-secondary small">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nowe hasło" %>
  </div>

  <div class="field text-secondary small">
    <%= f.label :current_password %> <i>(potrzebujemy Twojego hasła by potwierdzić zmiany)</i><br />
    <%= f.password_field :current_password, autocomplete: "obecne hasło" %>
  </div>

  <div class="field text-secondary small">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autocomplete: "Twoje imię" %>
  </div>

  <div class="field text-secondary small">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autocomplete: "Twoje nazwisko" %>
  </div>

  <div class="field text-secondary small">
    <label>Twój avatar:</label><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field text-secondary small">
    <%= f.label :description %><br />
    <%= f.text_area :description, autocomplete: "Napisz kilka słów o sobie:" %>
  </div>

  <div class="actions text-secondary small">
    <%= f.submit "Zaktualizuj" %>
  </div>
<% end %>

<h5 class="text-secondary">Usuń moje konto</h5>

<p class="text-secondary small">Nie podoba Ci się? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Jesteś pewny/a?" }, method: :delete %></p>

<%= link_to "Wstecz", :back, class: 'text-secondary'%>
</div>
