<h5><%= @user.firstname %> <%= @user.lastname %></h5>
<p>
  <%= @user.email %>
</p>
<p>
<%= @user.description %>
</p>

<% if user_signed_in? && current_user == @user %>
  <%= link_to 'Edit profile', edit_user_registration_path(@user) %>
<% end %>
