<%= form_for @search, html: {class: "pure-form"} do |s| %>

  <div class "field">
    <%= s.label :ingredient %><br />
    <%= s.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
  </div>

  <div class "field">
    <%= s.label :category %><br />
    <%= s.collection_check_boxes :category_ids, @categories, :id, :name %>
  </div>

  <div class "field">
    <%= s.label :time %><br />
    <%= s.text_field :time, size: 10 %>
  </div>

  <div class "field">
    <%= s.label :skills %><br />
    <%= s.text_field :skills, size: 10 %>
  </div>

  <div class "actions">
    <%= s.submit "Search", class: "pure-button pure-button-primary" %><br />
  </div>

<% end %>

<%= link_to 'Back', posts_path %>
