<% @categories.each do |category| %>
<div class='hr'><span class='hr-title text-secondary'><%= category.name.upcase %></span></div>
<div>
  <table "table text-center">
  <% if category.posts.any? == false %>
    <p class='text-secondary small'>
      Nie ma żadnych postów w tej kategorii
    </p>
  <% else %>
      <% if category.posts.length == 1 %>
      <tr>
      <th class="text-center"><%= link_to category.posts[0].title.upcase, post_path(category.posts[0]), class:'text-secondary small'%></th>
      </tr>
      <tr>
        <td><%= image_tag(category.posts[0].post_cover.url(:thumb), alt:'Image') if category.posts[0].post_cover? %></td>
      </tr>
      <% elsif category.posts.length == 2 %>
      <tr>
        <th class="text-center"><%= link_to category.posts[0].title.upcase, post_path(category.posts[0]), class:'text-secondary small'%></th>
        <th class="text-center"><%= link_to category.posts[1].title.upcase, post_path(category.posts[1]), class:'text-secondary small'%></th>
      </tr>
      <tr>
        <td><%= image_tag(category.posts[0].post_cover.url(:thumb), alt:'Image') if category.posts[0].post_cover? %></td>
        <td><%= image_tag(category.posts[1].post_cover.url(:thumb), alt:'Image') if category.posts[1].post_cover? %></td>
      </tr>
      <% elsif category.posts.length >= 3 %>
      <tr>
        <th class="text-center"><%= link_to category.posts[0].title.upcase, post_path(category.posts[0]), class:'text-secondary small'%></th>
        <th class="text-center"><%= link_to category.posts[1].title.upcase, post_path(category.posts[1]), class:'text-secondary small'%></th>
        <th class="text-center"><%= link_to category.posts[2].title.upcase, post_path(category.posts[2]), class:'text-secondary small'%></th>
      </tr>
      <tr>
        <td><%= image_tag(category.posts[0].post_cover.url(:thumb), alt:'Image') if category.posts[0].post_cover? %></td>
        <td><%= image_tag(category.posts[1].post_cover.url(:thumb), alt:'Image') if category.posts[1].post_cover? %></td>
        <td><%= image_tag(category.posts[2].post_cover.url(:thumb), alt:'Image') if category.posts[2].post_cover? %></td>
      </tr>
      <% end %>
  <% end %>
</table>
<br />
<button type="button" class="btn btn-light text-secondary small btn-sm align-middle">
  <%= link_to 'Pokaż wszystkie posty z tej kategorii', category_path(category), class: 'text-secondary' %>
</button>
</div>
<% end %>
</div>
