<%= render 'common/errors', model: @post %>
<%= form_for @post do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <label>Cover photo:</label>
  <%= f.file_field :post_cover %>
</div>

<div>
  <%= f.label :ingredient %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
</div>

<div>
  <%= f.label :category %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
</div>

<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<div>
  <%= f.label :time %>
  <%= f.number_field :time %>
</div>

<div>
  <%= f.label :skills %><br>
  <%= f.collection_radio_buttons :skills, [[1, 'łatwy'] ,[2, 'średni'],[3, 'trudny']], :first, :last %>
</div>

<div>
<%= f.submit %>
</div>

<% end %>

<%= link_to 'WRÓĆ', admin_path %>
