<div class="form-group" align="left">
<%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_content_cont_any, class: 'form-control form-control-sm', placeholder: 'Szukaj po tytułach i treści' %>
  <%= f.submit 'Szukaj', class: 'btn btn-light text-secondary small btn-sm align-left' %>
<% end %>
</div>
<br />

<div class="text-secondary small">
<table class="table table-borderless text-secondary small">
  <thead>
    <tr>
      <th class="text-secondary"><%= sort_link @q, :name, "Tytuł"%></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post), class: 'text-secondary'%> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
