<h1>All posts:</h1>

<%= search_form_for @q do |f| %>
  <div>
    <%= f.label :title_or_content_cont_any, "Tytuł lub treść zawiera" %>
    <%= f.search_field :title_or_content_cont_any, class: 'form-control', placeholder: 'zawiera w tekście lub tytule' %>
  </div>
  <div>
    <%= f.label :time_gteq, "Czas wykonania pomiędzy"%>
    <%= f.text_field :time_gteq, placeholder: 'min'%>
    <%= f.label :time_lteq, "and" %>
    <%= f.text_field :time_lteq, placeholder: 'zawiera w tekście lub tytule'%>
  </div>
  <div>
    <%= f.label :skills_eq, "Poziom trudności" %><br />
    <%= f.collection_radio_buttons :skills_eq, [[1, 'łatwy'] ,[2, 'średni'],[3, 'trudny']], :first, :last %>
  </div>
  <div>
  <%= f.submit 'Szukaj' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :name, "Tytuł"%></th>
      <th><%= sort_link @q, :time, "Czas"%></th>
      <th><%= sort_link @q, :skills, "Poziom"%></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %> </td>
      <td><%= post.time %> </td>
      <td><%= post.skills_name %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
