
<div class="right text-secondary small">
  <h6 class="text-secondary text-center">WYNIKI WYSZUKIWANIA:</h6>
  <br />
  <hr>
  <br />
    <table class="table-hover" align="center" style="table-layout:fixed; width:75%">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"><%= sort_link @q, :time, "CZAS"%></th>
          <th class="text-center" scope="col"><%= sort_link @q, :skills, "POZIOM"%></th>
          <th class="text-center" scope="col"><%= sort_link @q, :categories, "KATEGORIE"%></th>
          <th class="text-center" scope="col"><%= sort_link @q, :ingredients, "SKŁADNIKI"%></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td class="text-center" scope="row"><%= image_tag(post.post_cover.url(:mini), alt:'Image') if post.post_cover? %></td>
          <td class="text-center" scope="row"><%= link_to post.title.upcase, post_path(post), class:"text-secondary" %> </td>
          <td class="text-center" scope="row"><%= post.time %> </td>
          <td class="text-center" scope="row"><%= post.skills_name.upcase %> </td>
          <td class="text-center" scope="row" word-wrap="break-word"><% post.categories.each do |category| %>
              <%= link_to category.name.upcase, category_path(category), class:'text-secondary' %>
              <%= ' | ' %>
              <% end %>
          </td>
          <td class="text-center" scope="row"><% post.ingredients.each do |ingredient| %>
              <%= link_to ingredient.name.upcase, ingredient_path(ingredient), class:'text-secondary' %>
              <%= ' | ' %>
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <br />
  <div class="digg_pagination">
  <%= will_paginate @posts, previous_label: "Poprzednie", next_label: "Następne", list_classes: %w(pagination justify-content-center), :page_links => false %>
  </div>
  <br />
  <br />
  <div align="center">
    <button type"button" class="btn btn-light text-secondary small btn-sm align-middle">
       <%= link_to 'Wróć do wszystkich postów', posts_path, class: 'text-secondary' %>
    </button>
  </div>

</div>

<div class="left">
  <%= render 'search'%>
</div>
