<strong> <%= @post.title %> </strong>
<p>
  <%= image_tag(@post.post_cover.url(:regular), alt:'Image') if @post.post_cover? %>
</p>
<p>
  <% if @heart.persisted? %>
  <i class="fe fe-heart"><%= link_to 'Unheart', post_heart_path(@post, @heart), method: :delete %></i>
  <% else %>
  <i class="fe fe-heart-o"> <%= link_to 'Heart', post_hearts_path(@post), method: :post %> </i>
  <% end %>
</p>
<p>
<%= pluralize(@post.hearts.count, 'person') %> hearted this post
</p>


<strong>Przepis:</strong>
  <p>
  <%= @post.content %>
  </p>

<strong>Kategorie:</strong>
  <ul>
    <% @post.categories.each do |category|%>
    <li><%= category.name %></li>
    <% end %>
  </ul>

<strong>Składniki:</strong>
  <ul>
    <% @post.ingredients.each do |ingredient|%>
    <li><%= ingredient.name %></li>
  <% end %>
  </ul>

<strong>Czas:</strong>
  <p>
  <%= @post.time %> minutes
  </p>

<strong>Skala trudności:</strong>
  <p>
  <%= @post.skills_name %>
  </p>

<br />
<br />
<%= link_to 'Back to all posts', posts_path %>
<% if current_user.admin? %>
| <%= link_to 'Edytuj', edit_post_path(@post) %>
| <%= link_to 'Usuń', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
