<strong> <%= @post.title %> </strong>
<br>
<%= link_to favorite_text, favorites_update_path(post: @post), id:'favorite_link', remote: true %>
<br>
<strong>Przepis:</strong>
  <p>
  <%= @post.content %>
  </p>

<strong>Kategorie:</strong>
  <ul>
    <% @post.categories.each do |category|%>
    <li><%= category.name %></li>
    <% end %>
  </ul>

<strong>Składniki:</strong>
  <ul>
    <% @post.ingredients.each do |ingredient|%>
    <li><%= ingredient.name %></li>
  <% end %>
  </ul>

<strong>Czas:</strong>
  <p>
  <%= @post.time %> minutes
  </p>

<strong>Skala trudności:</strong>
  <p>
  <%= @post.skills_name %>
  </p>
