<div class="right">
  <h6 class="text-secondary" align="center"><%= @post.title.upcase %> </h6>
  <p align="center">
    <%= image_tag(@post.post_cover.url(:regular), alt:'Image') if @post.post_cover? %>
  </p>
  <br />
  <br />
  <div class="text-secondary" align="left">
    <h6 class:"small">PRZEPIS</h6>
    <br />
    <p class="text-secondary small">
    <% if user_signed_in? %>
      <% if @heart.persisted? %>
      <i class="fe fe-heart"><%= link_to 'ODLUB', post_heart_path(@post, @heart), method: :delete, class:'text-secondary' %></i>
      <% else %>
      <i class="fe fe-heart-o"> <%= link_to 'POLUB', post_hearts_path(@post), method: :post, class:'text-secondary' %> </i>
      <% end %>
    <% else %>
    <i class="fe fe-heart">Nie możesz tego polubić nie będąc zalogowanym</i>
    <% end %>
    </p>
    <p class="text-secondary small">
    <%= @post.hearts.count %> OSÓB POLUBIŁO TEN PRZEPIS
    </p>
    <br />
    <p class="small">
    <%= @post.content %>
    </p>

    <h6 class="small">KATEGORIE:</h6>
      <ul>
        <% @post.categories.each do |category|%>
        <li><%= link_to category.name.upcase, category_path(category), class:'text-secondary small'%></li>
        <% end %>
      </ul>

    <h6 class="small">SKŁADNIKI:</h6>
      <ul>
        <% @post.ingredients.each do |ingredient|%>
        <li><%=link_to ingredient.name.upcase, ingredient_path(ingredient), class:'text-secondary small' %></li>
      <% end %>
      </ul>

    <h6 class="small">CZAS:</h6>
      <p class="small">
      <%= @post.time %> MINUT
      </p>

    <h6 class="small">SKALA TRUDNOŚCI:</h6>
      <p class="small">
      <%= @post.skills_name.upcase %>
      </p>
  </div>
  <br />
  <br />
  <hr />
    <div class="text-secondary">
      <h6 class="">KOMENTARZE:</h6>
      <br />
      <br />
      <% if @post.comments.any? == true %>
        <%= render @post.comments %>
      <% else %>
        <p class="text-secondary small">
          JESZCZE NIKT NIE SKOMENTOWAŁ
        </p>
      <% end %>

      <p>
      <% if user_signed_in? %>
      <h6 class="text-secondary small">DODAJ KOMENTARZ:</h6>
      <%= render 'comments/form' %>
      </p>
      <% end %>
    </div>
    <div class="text-secondary small" align="center" style="padding-bottom: 50px;">
      <%= link_to 'WRÓĆ DO WSZYSTKICH', posts_path, class:'text-secondary'%>
      <% if current_user&.admin? %>
      | <%= link_to 'Edytuj', edit_post_path(@post), class:'text-secondary'%>
      | <%= link_to 'Usuń', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class:'text-secondary' %>
      <% end %>
    </div>
</div>

<div class="left">
  <%= render 'common/search' %>
</div>
