<nav class="navbar navbar-light bg-light">
  <% if user_signed_in? %>
    Witaj, <%= current_user.fullname%>! <%= link_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete, class:'text-secondary' %>
  <%= link_to 'PROFIL', current_user, class:'text-secondary'%> |
  <% else %>
    <%= link_to 'ZALOGUJ SIĘ', new_user_session_path, class:'text-secondary' %>
    <%= link_to 'ZAREJESTRUJ SIĘ', new_user_registration_path, class:'text-secondary' %>
  <% end %>
  <%= link_to 'HOME', home_path, class:'text-secondary'%>
  <%= link_to 'PRZEPISY', posts_path, class:'text-secondary' %>
  <%= link_to 'WARSZTATY', workshops_path, class:'text-secondary' %>
  <%= link_to 'O MNIE', omnie_path, class:'text-secondary' %>
  <%= link_to 'KONTAKT', kontakt_path, class:'text-secondary' %>
  <%= link_to 'WSPÓŁPRACA', wspolpraca_path, class:'text-secondary' %>
  <%= link_to 'SPOŁECZNOŚĆ', users_path, class:'text-secondary' %>
  <% if current_user&.admin? %>
    <%= link_to 'Admin page', admin_path, class:'text-secondary' %>
  <% end %>
  <a class="navbar-brand" href="home">
    <%= image_tag("brand/logo.png") %>
  </a>
</nav>
