<!DOCTYPE html>
<html>
  <head>
    <title>Candycompany</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <nav>
      <% if user_signed_in? %>
        Hello, <%= current_user.email %>! | <%= link_to 'Log out', destroy_user_session_path, method: :delete %> | <%= link_to 'Profile', current_user %> |
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <%= link_to 'Home', home_path %>
      <%= link_to 'Przepisy', posts_path %>
      <%= link_to 'Warsztaty', warsztaty_path %>
      <%= link_to 'O mnie', omnie_path %>
      <%= link_to 'Kontakt', kontakt_path %>
      <%= link_to 'Współpraca', wspolpraca_path %>
      <%= link_to 'Społeczność', users_path %>
      <% if current_user.admin? %>
      <%= link_to 'Admin page', admin_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
